<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,-25" />

<body style="overflow: hidden;">
    
  <!-- <div>
    <img class="top_logo" src="./assets/CCClogo.png" alt="Logo">
  </div> -->
  <div class="logo">
      <img src=".\assets\CCClogo.png" class="top_logo" alt="Logo"/>
  </div>
    
  <div class="side_banner">
    <div class="nav-align">
      <app-navbar></app-navbar>
    </div>
  </div>
  
  <div class="top_banner">
      <div class="top_icons">
        <!-- <button mat-icon-button>
          <span class="material-symbols-outlined">
            nightlight
          </span>
        </button> -->
        <app-userBanner></app-userBanner>
      </div>
  </div>
  
  <div class="center">
    <label>
      <h1 style="border-bottom: 1px solid #ccc;">
        <img src=".\assets\CCClogo.png" alt="Logo">
      </h1>
      <div style="text-align: center; color: rgb(37, 31, 206)">
        <strong> Welcome to the CCC Database! </strong>
      </div>
      <div style="padding-top: 5px; text-align: center; color: rgb(37, 31, 206)">
        Contains the current infomation regarding:
      </div>
      <div style="padding-top: 15px; text-align: center; color: rgb(37, 31, 206)">
        Sites, Projects and PORs
      </div>
    </label>
  </div>
</body>